

  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>E D I T I N G<span class="carstxt">S E C U R I T Y _ S T A F F</span>&bullet;</h1>
  </div>
 
<div class="intru">

<%= render 'form', security_staff: @security_staff %>
