
  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>N E W<span class="carstxt">R E C O R D</span>&bullet;</h1>
  </div>



<div class="intru">

<%= render 'form', record: @record %>

