
  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>E D I T I N G<span class="carstxt">P A R K I N G S</span>&bullet;</h1>
  </div>


<div class="intru">

<%= render 'form', parking: @parking %>
