 
  <div class="feturedsection">
    <h1 class="text-center"><span class="bdots">&bullet;</span>N E W<span class="carstxt">P A R K I N G</span>&bullet;</h1>
  </div>


<div class="intru">
<%= render 'form', parking: @parking %>
