<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Scarica gratis GARAGE Template html/css - Web Domus Italia - Web Agency </title>
  <meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
  <meta name="author" content="Web Domus Italia">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-3.3.6-dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.5.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/assets/slider.css">
  <link rel="stylesheet" type="text/css" href="/assets/mystyle.css">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/light-bootstrap-dashboard.css">
</head>
<body>
<!-- Header -->
<div class="allcontain">
  <div class="header">
      <ul class="socialicon">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
      <ul class="givusacall">
        <li>Give us a call at +91 9970589727</li>
      </ul>
      <ul class="logreg">
        <li><a href="#">Login </a> </li>
        <li><a href="#"><span class="register">Register</span></a></li>
      </ul>
  </div>
  <!-- Navbar Up -->
  <nav class="topnavbar navbar-default topnav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
          <span class="sr-only"> Toggle navigaion</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand logo hgt" href="#"><img src="/assets/garaj/home.ico" alt="logo" style="height:140px"></a>
      </div>   
    </div>
    <div class="collapse navbar-collapse" id="upmenu" style="background-color: #96deff">
      <ul class="nav navbar-nav" id="navbarontop">
        <li class="active"><a href="http://localhost:3000/">HOME</a> </li>

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PROGRAMS <span class="caret"></span></a>
          <ul class="dropdown-menu dropdowncostume">
            <li><a href="http://localhost:3000/programs">List</a></li>
            <li><a href="http://localhost:3000/programs/new">New Program</a></li>
            <li><a href="http://localhost:3000/programs">Edit Program</a></li>
          </ul>
        </li>

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RECORDS <span class="caret"></span></a>
          <ul class="dropdown-menu dropdowncostume">
            <li><a href="http://localhost:3000/records">List</a></li>
            <li><a href="http://localhost:3000/records/new">New Record</a></li>
            <li><a href="http://localhost:3000/records">Edit Record</a></li>
          </ul>
        </li>

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PARKINGS <span class="caret"></span></a>
          <ul class="dropdown-menu dropdowncostume">
            <li><a href="http://localhost:3000/parkings">List</a></li>
            <li><a href="http://localhost:3000/parkings/new">New Parking</a></li>
            <li><a href="http://localhost:3000/parkings">Edit Parking</a></li>
          </ul>
        </li>
     

        <li class="active dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SECURITY STAFFS <span class="caret"></span></a>
          <ul class="dropdown-menu dropdowncostume">
            <li><a href="http://localhost:3000/security_staffs">List</a></li>
            <li><a href="http://localhost:3000/security_staffs/new">New Security Staff</a></li>
            <li><a href="http://localhost:3000/security_staffs">Edit Security Staff</a></li>
          </ul>
        </li>
     
      </ul>
    </div>
  </nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
  <div id="carousel-up" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner " role="listbox">
      <div class="item active">
        <img src="/assets/garaj/build1.jpg" alt="oldcar">
        <div class="carousel-caption">
          
        </div>
      </div>
      <div class="item">
        <img src="/assets/garaj/build2.jpg" alt="porche">
        <div class="carousel-caption">
                  </div>
      </div>
      <div class="item">
        <img src="/assets/garaj/build3.jpg" alt="benz">
        <div class="carousel-caption">
          
        </div>
      </div>
    </div>
    
  </div>
</div>


<!--_________________________________________________Try This___________________________________-->

<div class="allcontain">

        <div class="content">
            <div class="container-fluid">
                  <%= yield %>
            </div>
        </div>  

</div>
</div>


  <!-- ______________________________________________________Bottom Menu ______________________________-->
  <div class="bottommenu">
    <div class="bottomlogo">
    <span class="dotlogo">&bullet;</span><img src="/assets/garaj/home.ico" alt="logo1" style="height:120px"><span class="dotlogo">&bullet;;</span>
    </div>
    <ul>
      <li class="m1"><a href="http://www.shopforidea.com">ABOUT US</a></li>
      <li class="m1"><a href="#/">CONTACT US</a></li>
    </ul>
     <img src="/assets/garaj/line.png" alt="line"> <br>
     <div class="bottomsocial">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
      <div class="footer">
        <div class="copyright">
          &copy; Copy right 2018 | <m style="font-color:black"><a href="#">Privacy </a>| <a href="#">Policy</a></m>
        </div>
        <div class="atisda">
           Designed by <a href="http://www.shopforidea.com">shopforidea.com </a> 
        </div>
      </div>
  </div>
</div>

<script type="text/javascript" src="/assets/jquery.js"></script>
<script type="text/javascript" src="/assets/isotope.js"></script>
<script type="text/javascript" src="/assets/myscript.js"></script> 
<script type="text/javascript" src="/assets/jquery.1.11.js"></script>
<script type="text/javascript" src="/assets/bootstrap.js"></script>
</body>
</html>